<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>API_KEY</key>
		<string></string>
		<key>GCM_SENDER_ID</key>
		<string>91190487366</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.chatApp</string>
		<key>PROJECT_ID</key>
		<string>chat-app-4194c</string>
		<key>STORAGE_BUCKET</key>
		<string>chat-app-4194c.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:91190487366:ios:8ac03b643ce7dc8aa31d47</string>
	</dict>
</plist>